<!-- Light/Dark Mode Setting -->
<% screen_mode = 'light-mode' %>
<% if user_signed_in? %>
  <% if (current_user.darkmode) %>
    <% screen_mode = 'dark-mode' %>
  <% else %>
    <% screen_mode = 'light-mode' %>
  <% end %>
<% end %>

<nav class="navbar fixed-bottom navbar-expand-sm navbar-<%= screen_mode %>">

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <div class="navbar-nav">
          <%= link_to "Add Transaction", new_transaction_path, class: "nav-item nav-link" %>
          <%= link_to "View Transactions", transactions_path, class: "nav-item nav-link" %>
          <%= link_to "Tracking", transactions_path, class: "nav-item nav-link" %>
        </div>
        <a class="nav-item">
          <%= link_to user_path(current_user), class: "d-flex align-items-center navbar-brand" do %>
            <%= image_tag "http://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/TwistedFate.png", class: "avatar dropdown-toggle" %>
          <% end %>
        </a>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
  </div>

</nav>
