<!-- Light/Dark Mode Setting -->
<% screen_mode = 'light-mode' %>
<% if user_signed_in? %>
  <% if (current_user.darkmode) %>
    <% screen_mode = 'dark-mode' %>
  <% else %>
    <% screen_mode = 'light-mode' %>
  <% end %>
<% end %>

<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs expense-form-<%= screen_mode %>">
    <%= f.input :name %>
    <%= f.input :amount %>
    <%= f.input :date %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :liper, :as => :hidden, :input_html => { :value => "living" } %>
    <%= f.input :ioe, :as => :hidden, :input_html => { :value => "expense" } %>
  </div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, "Submit", class: "btn btn-danger expense-button" %>
  </div>
<% end %>
